.containerForm {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
    


}

.formPlayList {
    width: 500px;
    height: 450px;

}

.formLabelInput {
    display: flex;
    flex-direction: column;
}

.inputPlay {
    width: 416px;
    height: 38px;
    border-radius: 8px;
    background-color: #282828;
}

.botonContainer {
    width: 422px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}


.botonPlay, .botonCancel {
    width: 150px;
    border-radius: 18px;
}

.botonPlay:hover {
    border-color: #1a6614;
}
.botonCancel:hover {
    border-color: #a00909;
}

/* ---------------------------------------------------- */
/* Esto es parte de mostrar la foto, título y descrip en grande */

.itemContainer {
    width: 200px;
    height: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
   
    
}

.itemImage {
    width: 200px;
    height: 200px;
    
    
}

.itemImage img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.itemDetails h4 {
    margin: 0;
    text-overflow: ellipsis;
}
.itemDetails span {
    color: #E8EAF6;
    text-overflow: ellipsis;
    overflow: hidden;
}





